.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: #eee;
    background: #555555;
    padding: 2rem;
}

.example-card{
    display: inline-block;
    padding-bottom: 2rem;
    width:20%;
    // border-color: #AD1457;
    // border-width:2px;
}

.example-canvas{
    display: inline-block;
    padding-right: 5%;
}

.rightnavcontent{
    padding: 2em;
}

.sidenav-header{
    display: flex;
    justify-content: space-around;
}

.divider{
    margin-bottom: 1em;
}

table {
    width: 100%;
    margin-top: 2em;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
    cursor: pointer;
}

.example-div{
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // margin-right: 20px;
    width:220px;
}
