<div>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [opened]="sideNav" position="end" #rightNav class="rightnavcontent">
      
      <div class="sidenav-header">
        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" (click)="toggleRightNav()"></mat-icon>
        <p>Add entry</p>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div >
        <div>
          <app-cashform (toggleRightNav)="toggleRightNav()" ></app-cashform>
        </div>
      </div>  
    </mat-sidenav>

    <!-- MAIN CONTENT -->

    <mat-sidenav-content>

      <!--FORM-->
      
      <mat-card>
        <button mat-raised-button color="primary" (click)="toggleRightNav()">Add entry</button>
      </mat-card>
    
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
  

  <!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <button mat-raised-button color="primary">Primary</button>
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->

</div>