<div>

  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [opened]="sideNav" position="end" #rightNav class="rightnavcontent" *ngIf="sideNav">
      
      <div class="sidenav-header">
        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" (click)="toggleRightNav()"></mat-icon>
        <p>Add entry</p>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div >
        <div>
          <app-cashform (closeRightNav)="toggleRightNav()" ></app-cashform>
        </div>
      </div>  
    </mat-sidenav>

    <mat-sidenav mode="over" [opened]="editNav" position="end" #rightNav class="rightnavcontent" *ngIf="editNav">
      
      <div class="sidenav-header">
        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" (click)="toggleEditNav()"></mat-icon>
        <p>Edit entry</p>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div >
        <div>
          <app-editform [data]="clickedData" (updatedData)="updateData($event)"></app-editform>
        </div>
      </div>  
    </mat-sidenav>

    <!-- MAIN CONTENT -->

    <mat-sidenav-content>

      <!--FORM-->

      <mat-card>
        <button mat-raised-button color="primary" (click)="toggleRightNav()">Add entry</button>
      </mat-card>
    
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- <mat-card let element="totalCashIn">
          Total Cash In: {{}}
      </mat-card> -->
    
      <!-- TABLE -->

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category"> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
      
        <!-- Payment Mode Column -->
        <ng-container matColumnDef="paymentMode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by payment mode"> Mode </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentMode}} </td>
        </ng-container>
      
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>     
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="passData(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of entries">
      </mat-paginator>

    </mat-sidenav-content>
  </mat-sidenav-container>
  

  <!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <button mat-raised-button color="primary">Primary</button>
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->

</div>