.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: #eee;
    background: #555555;
    padding: 2rem;
}

.rightnavcontent{
    padding: 2em;
}

.sidenav-header{
    display: flex;
    justify-content: space-around;
}

.divider{
    margin-bottom: 1em;
}
