<div>
  <mat-sidenav-container class="example-container">

    <!-- CASH FORM -->

    <mat-sidenav mode="over" [opened]="sideNav" position="end" #rightNav class="rightnavcontent" *ngIf="sideNav">
      <div class="sidenav-header">
        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" (click)="toggleRightNav()"></mat-icon>
        <p>Add entry</p>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div >
        <div>
          <app-cashform (closeRightNav)="toggleRightNav()" ></app-cashform>
        </div>
      </div>  
    </mat-sidenav>

    <!-- EDIT FORM -->

    <mat-sidenav mode="over" [opened]="editNav" position="end" #rightNav class="rightnavcontent" *ngIf="editNav">
      
      <div class="sidenav-header">
        <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" (click)="toggleEditNav()"></mat-icon>
        <p>Edit entry</p>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div >
        <div>
          <app-editform [data]="clickedData" (updatedData)="updateData($event)"></app-editform>
        </div>
      </div>  
    </mat-sidenav>

    <!-- MAIN CONTENT -->

    <mat-sidenav-content>

      <!--FORM-->

      <div class="gist-container">

        <mat-card class="gist-card" color="accent">
          <mat-card-header class="gist-header">
            <!-- <div class="gist-icon"><mat-icon>arrow_upward</mat-icon></div> -->
            <mat-card-title  id='cashin' class="stat"></mat-card-title>
          </mat-card-header>
          <!-- <mat-divider></mat-divider> -->
          <mat-card-content>
            <p class="stat-title">{{"Cash In" | uppercase}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="gist-card">
          <mat-card-header>
            <!-- <mat-icon class="gist-icon">arrow_downward</mat-icon> -->
            <mat-card-title id='cashout' class="stat"></mat-card-title>
          </mat-card-header>
          <!-- <mat-divider></mat-divider> -->
          <mat-card-content>
            <p class="stat-title">{{"Cash Out" | uppercase}}</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="gist-card">
          <mat-card-header>
            <!-- <mat-icon class="gist-icon">account_balance</mat-icon> -->
            <mat-card-title id='cashbalance' class="stat"></mat-card-title>
          </mat-card-header>
          <!-- <mat-divider></mat-divider> -->
          <mat-card-content>
            <p class="stat-title">{{"Balance" | uppercase}}</p>
          </mat-card-content>
        </mat-card>

      </div>

      <mat-card class="actions-container">

        <div class="actions-filters-container">
          <div class="filter">
            <mat-button-toggle-group name="typeFilter" aria-label="typeFilter" (change)="filterTable($event.value)" class="filter-toggle">
              <mat-button-toggle value="cash in" #cashInToggle>Cash In</mat-button-toggle>
              <mat-button-toggle value="cash out" #cashOutToggle>Cash Out</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
  
          <div class="filter">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Category</mat-label>
              <mat-select (selectionChange)="filterTable($event.value)" [(ngModel)]="category" class="filter-select">
                <mat-option value=''>Choose</mat-option>
                <mat-option *ngFor="let category of categories" value={{category}} >{{category}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="filter">
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Mode of Payment</mat-label>
              <mat-select (selectionChange)="filterTable($event.value)" [(ngModel)]="payment">
                <mat-option value=''>Choose</mat-option>
                <mat-option value='Cash' >Cash</mat-option>
                <mat-option value='Online' >Online</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" (click)="resetFilter()" style='margin-right:16px'>Reset filters</button>

        </div>

        <div>
          <button mat-raised-button color="primary" (click)="toggleRightNav()" style='margin-right:16px'>Add entry</button>
          <button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx')" style='margin-right:16px'>To Excel</button>  
        </div>

      </mat-card>

      <!-- TABLE -->

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table" matSort (matSortChange)="announceSortChange($event)" matTableExporter #exporter="matTableExporter">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
        </ng-container>
      
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category"> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
      
        <!-- Payment Mode Column -->
        <ng-container matColumnDef="paymentMode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by payment mode"> Mode </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentMode}} </td>
        </ng-container>
      
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount"> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>     

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type"> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>  
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;" (click)="passData(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of entries">
      </mat-paginator>
      <br>

      <!-- STATTISTICS SECTIONS -->  

      <div class="chart-container">
        <mat-card class="chart-card">

          <mat-card-header>
            <mat-card-title>Categories</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="example-canvas"> 
              <canvas baseChart
                width="300px"
                [type]="'pie'"
                [datasets]="chartDataCategory"
                [labels]="chartLabelCategory"
                [options]="pieChartOptions"
                [plugins]="chartPlugins"
                [legend]="chartLegend">
              </canvas>
            </div>
          </mat-card-content>
  
        </mat-card>
  
        <mat-card class="chart-card">
  
          <mat-card-header>
            <mat-card-title>Mode Of Payment</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="example-canvas">
              <canvas baseChart
                width="300px"
                [type]="'pie'"
                [datasets]="chartDataType"
                [labels]="chartLabelType"
                [options]="pieChartOptions"
                [plugins]="chartPlugins"
                [legend]="chartLegend"
                class="example-canvas">
              </canvas>
            </div> 
          </mat-card-content>
  
        </mat-card>
          
        <mat-card class="chart-card">
  
          <mat-card-header>
            <mat-card-title>Type Of Payment</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="example-canvas">
              <div class="example-canvas"> 
                <canvas baseChart
                  width="450px"
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [plugins]="chartPlugins"
                  [legend]="chartLegend"
                  [type]="'bar'"
                  class="example-canvas">
                </canvas>
              </div>
            </div> 
          </mat-card-content>
  
        </mat-card>
      </div>


  




    </mat-sidenav-content>
  </mat-sidenav-container>
  

  <!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <button mat-raised-button color="primary">Primary</button>
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->

</div>


        <!--<mat-select (selectionChange)="filterTable($event.value)" [(ngModel)]="payment">
          <mat-option value=''>Choose</mat-option>
          <mat-option value='pie' >Pie chart</mat-option>
          <mat-option value='online' ></mat-option>
        </mat-select> -->