.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: #eee;
    background: #555555;
    padding: 2rem;

    ::-webkit-scrollbar {
        width: 10px;
    }
      
      ::-webkit-scrollbar-track {
        background-color: darkgrey;
    }
      
      ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 12px rgb(66, 66, 66);
    }
}

.example-card{
    display: inline-block;
    padding-bottom: 2rem;
    width:20%;
    // border-color: #AD1457;
    // border-width:2px;
}

.example-canvas{
    display: inline-block;
    padding-right: 5%;
    padding-top: 1em;
}

.rightnavcontent{
    padding: 2em;
}

.sidenav-header{
    display: flex;
    justify-content: space-around;
}

.divider{
    margin-bottom: 1em;
}

table {
    width: 100%;
    margin-top: 2em;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
    cursor: pointer;
}

.filter{
    display: inline-block;
    padding: 1rem;
    // margin-right: 20px;
    // width:220px;
}

.gist-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.gist-card{
    padding: 1em 4em;
}

.actions-container{
    // margin-top: 2em;
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.actions-filters-container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.stat{
    font-size: 2.5rem;
    font-family: "Oswald";
}

// .gist-icon{
//     display: flex;
//     justify-content: center;

//     mat-icon{
//         font-size: 50px;
//     }
// }

.gist-header{
    display: flex;
    justify-content: center;
}

.stat-title{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.filter-select{
    font-size: 1rem;
}

.filter-toggle{
    
    mat-button-toggle{
        padding: 0.3em;
    }
}

.actions-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table{
    th{
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
    }
}

.chart-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 3em 0;
}

.chart-card{
    padding: 2em;
    text-align: center;
    mat-card-title{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
}

.backhome{
    cursor: pointer;
}

// Divider

// .divider {
//     width: 80;
//     margin: 3em 0;
//     border-bottom: 1px solid #dddde1;
//   }