<div class="container">
    <div class="box">
      <img src="../../assets/1.jpg">
      <span>+-/</span>
    </div>
    <div class="box">
      <img src="../../assets/2.jpg">
      <span>+</span>
    </div>
    <div class="box">
      <img src="../../assets/3.jpg">
      <span>-</span>
    </div>
    <div class="box">
      <img src="../../assets/4.jpg">
      <span>/</span>
    </div>
</div>

<div class="sameer-msg">
    <div>
        <mat-card>
            <mat-card-content>
                <p>
                    Rishi, if you aren't doubting yourself so much as you used to, you would have definitely reached much greater heights man. 
                    Keep going and don't doubt yourself so much, trust me no one has it all figured out. 
                    Happy birthday macha, you are one of the best friends i made here. 🫂
                </p>
                <p> - Sameer</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card>
            <mat-card-content>
                Corruption is everywhere and genuine sparks of light are rare.
                You belong to the latter.
                <br>
                <br>
                Remember to show yourself always in a confident state and take chances of challenge often,
                What you show is what they see. And what they see is what they build about you. 
                <br>
                <br>
                Okay I used to maintain this list of chosen ones for life. 
                Thought I would never make anyone at college.
                Thank you for defying my expectations. 
                Hope this journey and bestmanship lasts long. 
                Happy birthday Rishiyanth ! 
                <br>
                <br>
                <p> - Huleska</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>